<%- include('head',{pageTitle:'Account'}) -%>
<head>
  <link rel="stylesheet" href="/css/account.css" />
</head>
<!-- start: content -->
<%- include('navbar',{authenticated:isAuthenticated,userId:(typeof _userId==='undefined') ? 0 : _userId}) %>
<main>
  <div class="container">
    <div class="row">
      <div>
        <div class="profile-container">
          <!-- User Name / My Account -->
          <h1>My Account</h1>

          <div class="row">
            <!-- User Image -->
            <div class="col-auto">
              <img
                src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-Clipart.png"
                alt="Profile pic"
                class="img-fluid profile-image"
              />
            </div>

            <!-- Username -->
            <div class="col-auto">
              <p>Username: <%= user.username %></p>
            </div>
          </div>

          <!-- Recipes -->
          <div class="profile-recipes">
            <h2>Published Recipes</h2>
            <hr />
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <% if (typeof recipes !=="undefined" && recipes.length > 0) { %>
                <% recipes.forEach(function(recipe){ %> 
                  <%-include('recipe_card',{recipeDetails: recipe}) %> 
                <% }); %> 
              <% } else { %>
                <h3>There are no published recipes</h3>
               <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- end: content -->
<%- include('footer') -%>
