<%- include('head',{pageTitle:'Recipes'}) -%>
<!-- start: content -->
<%- include('navbar',{authenticated:isAuthenticated,userId:_userId}) %>
<main>
  <div class="container">
    <h1><%= (typeof recipe === 'undefined') ? "New Recipe" : "Edit Recipe" %></h1>
    <hr />
    <form method="post" class="row g-3">
      <input type="hidden" name="recipeid" value="<%= (typeof recipe === 'undefined') ? "" : recipe._id %>"/>
      <div class="form-floating mb-3">
        <label for="floatingInput">Name of the recipe</label>
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="RecipeName"
          value="<%= (typeof recipe === 'undefined') ? "" : recipe.name %>"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Add Short Description</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ><%= (typeof recipe === 'undefined') ? "" : recipe.description %></textarea>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Add Image</label>
        <input class="form-control" type="file" id="formFile" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Add Ingredients</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ><%= (typeof recipe === 'undefined') ? "" : recipe.ingredients %></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Add Instructions</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ><%= (typeof recipe === 'undefined') ? "" : recipe.instructions %></textarea>
      </div>
      <div class="row justify-content-between">
        <a class="text-decoration-none backbutton col-auto" href="<%= '/recipe/' + _userId %>">
          <i class="bi bi-arrow-left-circle"></i><span>Back</span>
        </a>
        <button type="submit" class="btn btn-primary btn-success col-auto">Save</button>
      </div>
    </form>
  </div>
</main>
<!-- end: content -->
<%- include('footer') -%>
