<%- include('head',{pageTitle:'Login'}) -%>
<head>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<!-- start: content -->
<main>
  <div class="container">
    <div class="row">
      <a class="text-decoration-none backbutton" href="/">
        <i class="bi bi-arrow-left-circle"></i><span>Back</span>
      </a>
      <div class="col-xs-12 text-center">
        <h2>Login or Register</h2>
      </div>
      <div class="col-md-push-3 col-md-6 col-xs-12 m-auto">
        <form method="post" >
          <div class="form-floating mb-3">
            <input
            type="text"
            class="form-control <%= (typeof usernameError !== 'undefined') ? 'is-invalid' : '' %>"
            id="floatingInput"
            placeholder="Username"
            name="username"
            />
            <label for="floatingInput">Username</label>

            <% if (typeof usernameError !== 'undefined') { %>
              <div class="invalid-feedback"><%= usernameError %></div>
            <% } %>
          </div>
          <div class="form-floating">
            <input
            type="password"
            class="form-control <%=(typeof passwordError !== 'undefined') ? 'is-invalid': '' %>"
            id="floatingPassword"
            placeholder="Password"
            name="password"
            />
            <label for="floatingPassword">Password</label>
            <% if (typeof passwordError !== 'undefined') { %>
              <div class="invalid-feedback"><%= passwordError %></div>
            <% } %>
          </div>
          <div class="mt-3 row justify-content-around">
            <button type="submit" formaction="/login" class="col-3 btn btn-primary btn-dark">Login</button>
            <button type="submit" formaction="/register" class="col-3 btn btn-outline-secondary">Register</a>
          </div>
          <div class="mt-3">
            <!-- Stylish "Forgot Password?" button -->
            <button type="submit" class="btn btn-link" formaction="/newPw">Forgot Password?</button>
            <% if (typeof newPassword !== 'undefined'){ %>
              <div>Your password has changed: <%= newPassword %></div>
            <% } %>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!-- end: content -->
<%- include('footer') -%>
