<%- include('head',{pageTitle:'My Recipes'}) -%>

<head>
  <link rel="stylesheet" href="/css/myrecipes.css" />
</head>
<%- include('navbar',{authenticated:isAuthenticated,userId:_userId}) %>
<!-- start: content -->
<main>
  <div class="container">
    <div class="row align-items-center">
      <h1 class="col">My Recipes</h1>
      <!-- Add button at the end -->
      <a
        href="<%= '/recipe/new/' + _userId %>"
        class="btn btn-outline-success add-button col-auto"
      >
        <i class="bi bi-plus-circle"></i>
        <span>New Recipe</span></a
      >
    </div>
    <hr />
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% if (typeof recipes !=="undefined" && recipes.length > 0) { %>
        <% recipes.forEach(function(recipe){ %> 
          <%-include('recipe_card',{recipeDetails: recipe, userId:_userId }) %> 
        <% }); %>
      <% } else { %>
        <h3>There are no published recipes</h3>
       <% } %>
    </div>
  </div>
</main>
<!-- end: content -->
<%- include('footer') -%>
