<%- include('head',{pageTitle:'Recipe Details'}) %>
<head>
  <link rel="stylesheet" href="/css/details.css" />
</head>
<!-- start: content -->
<%- include('navbar',{authenticated:false,userId:_userId}) %>
<main>
  <div class="container">
    <div class="row">
      <div>
        <div class="recipe-container">
          <!-- Recipe Name -->
          <h1><%= recipe.name%></h1>

          <div class="row">
            <!-- Recipe Image -->
            <div class="col-md-8">
              <img
                src=<%= recipe.image %>
                alt=<%= recipe.name %>
                class="img-fluid recipe-image"
              />
            </div>

            <!-- Ingredients -->
            <div class="col-md-4 recipe-ingredients">
              <h2>Ingredients:</h2>
              <%= recipe.ingredients %>
            </div>
          </div>

          <!-- Recipe Description -->
          <p>
            <%= recipe.description %>
          </p>

          <!-- Instructions -->
          <h2>Instructions:</h2>
          <%= recipe.instructions %>
        </div>
        <div>
            <% if ( typeof recipe.publishedBy === 'undefined') { %>
              <span class="text-body-secondary">Published • <%= recipe.published %></span>
            <% } else { %>
                <span class="text-body-secondary">Published by <a href="<%= '/account/' + recipe._publishedById %>"><%= recipe.publishedBy %></a> , <%= recipeDetails.published %></span>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- end: content -->
<%- include('footer') -%>
